header(class="header")
    div(class="content header__content")
        div(class="header__actions")

            include ../../_blocks/logo/logo.pug

            button(type="button" class="button-menu button-menu--open")
                span(class="button-menu__icon")

        include ../../_blocks/nav/nav.pug
        +nav(data.nav.activeElement)
