<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, width=device-width">
    <title>Dublin Apps</title>
    <link rel="stylesheet" href="stylesheets/common.css">
</head>

<body>
    <header class="header">
        <div class="content header__content">
            <div class="header__actions">
                <div class="logo"><svg class="icon-svg logo__img">
                        <use xlink:href="images/svg-sprite/svg-sprite.svg#logo"></use>
                    </svg><span class="logo__text-icon">i</span>
                    <div class="logo__text"><a class="logo__link" href="index.html"><span class="logo__text-title">Dublin Apps</span><span class="logo__text-subtitle">ipad applications</span></a></div>
                </div><button class="button-menu button-menu--open" type="button"><span class="button-menu__icon"></span></button>
            </div>
            <nav class="nav nav--closed">
                <ul class="list nav__list">
                    <li class="nav__item"><a class="nav__link" href="index.html">Home</a></li>
                    <li class="nav__item"><a class="nav__link" href="products.html">ipad apps</a></li>
                    <li class="nav__item"><a class="nav__link nav__link--active" href="blog.html">Demonstrations</a></li>
                    <li class="nav__item"><a class="nav__link" href="single-product.html">Leopards media</a></li>
                    <li class="nav__item"><a class="nav__link" href="contacts.html">Connect us</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <main class="main">
        <div class="box">
            <div class="search">
                <div class="search__content">
                    <div class="search__text-block">
                        <h1 class="subtitle search__title">Dublin’s iphone apps Online Demmonstration</h1>
                        <p class="text search__text">Lorem Ipsum is simply dummy</p>
                    </div>
                    <div class="search__block-field"><img class="search__icon" src="images/icons/search.svg" alt="Search"><input class="search__field" placeholder="Search..."></div>
                </div>
            </div>
            <div class="page-box">
                <div class="articles">
                    <article class="article article--indent"><img class="article__img" src="images/article/article-img.png" srcset="images/article/article-img@2x.png 2x" alt="Article">
                        <div class="article__description">
                            <div class="article__header">
                                <h2 class="subtitle article__title">Dublin’s iphone apps Online Demo</h2>
                                <div class="text text--size-xs article__information"><time class="article__date" datetime="2011-05-29">29 / may / 2011</time>
                                    <p class="article__author">written by: Anonimas</p>
                                </div>
                            </div>
                            <div class="article__body">
                                <p class="text text--color article__text">Lorem ipsum dolor sit amet, consectetuadipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliua. Ut enim ad minim veniam, quis nostud exercitation ullamco laboris nisi ut aluip ex ea commodo consequat. Duis aute irure dolor in</p>
                            </div>
                            <div class="article__footer">
                                <div class="article__social"><a class="article__link" href="#5"><img class="article__icon" src="images/icons/twitter.svg" alt="Twitter"></a><a class="article__link" href="#5"><img class="article__icon" src="images/icons/facebook.svg" alt="Facebook"></a></div><a class="button button--size-s article__button" href="blog-inner-page.html">Read more</a>
                            </div>
                        </div>
                    </article>
                    <article class="article article--indent"><img class="article__img" src="images/article/article-img.png" srcset="images/article/article-img@2x.png 2x" alt="Article">
                        <div class="article__description">
                            <div class="article__header">
                                <h2 class="subtitle article__title">Dublin’s iphone apps Online Demo</h2>
                                <div class="text text--size-xs article__information"><time class="article__date" datetime="2011-05-29">29 / may / 2011</time>
                                    <p class="article__author">written by: Anonimas</p>
                                </div>
                            </div>
                            <div class="article__body">
                                <p class="text text--color article__text">Lorem ipsum dolor sit amet, consectetuadipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliua. Ut enim ad minim veniam, quis nostud exercitation ullamco laboris nisi ut aluip ex ea commodo consequat. Duis aute irure dolor in</p>
                            </div>
                            <div class="article__footer">
                                <div class="article__social"><a class="article__link" href="#5"><img class="article__icon" src="images/icons/twitter.svg" alt="Twitter"></a><a class="article__link" href="#5"><img class="article__icon" src="images/icons/facebook.svg" alt="Facebook"></a></div><a class="button button--size-s article__button" href="blog-inner-page.html">Read more</a>
                            </div>
                        </div>
                    </article>
                    <article class="article article--indent"><img class="article__img" src="images/article/article-img.png" srcset="images/article/article-img@2x.png 2x" alt="Article">
                        <div class="article__description">
                            <div class="article__header">
                                <h2 class="subtitle article__title">Dublin’s iphone apps Online Demo</h2>
                                <div class="text text--size-xs article__information"><time class="article__date" datetime="2011-05-29">29 / may / 2011</time>
                                    <p class="article__author">written by: Anonimas</p>
                                </div>
                            </div>
                            <div class="article__body">
                                <p class="text text--color article__text">Lorem ipsum dolor sit amet, consectetuadipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliua. Ut enim ad minim veniam, quis nostud exercitation ullamco laboris nisi ut aluip ex ea commodo consequat. Duis aute irure dolor in</p>
                            </div>
                            <div class="article__footer">
                                <div class="article__social"><a class="article__link" href="#5"><img class="article__icon" src="images/icons/twitter.svg" alt="Twitter"></a><a class="article__link" href="#5"><img class="article__icon" src="images/icons/facebook.svg" alt="Facebook"></a></div><a class="button button--size-s article__button" href="blog-inner-page.html">Read more</a>
                            </div>
                        </div>
                    </article>
                    <article class="article article--indent"><img class="article__img" src="images/article/article-img.png" srcset="images/article/article-img@2x.png 2x" alt="Article">
                        <div class="article__description">
                            <div class="article__header">
                                <h2 class="subtitle article__title">Dublin’s iphone apps Online Demo</h2>
                                <div class="text text--size-xs article__information"><time class="article__date" datetime="2011-05-29">29 / may / 2011</time>
                                    <p class="article__author">written by: Anonimas</p>
                                </div>
                            </div>
                            <div class="article__body">
                                <p class="text text--color article__text">Lorem ipsum dolor sit amet, consectetuadipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliua. Ut enim ad minim veniam, quis nostud exercitation ullamco laboris nisi ut aluip ex ea commodo consequat. Duis aute irure dolor in</p>
                            </div>
                            <div class="article__footer">
                                <div class="article__social"><a class="article__link" href="#5"><img class="article__icon" src="images/icons/twitter.svg" alt="Twitter"></a><a class="article__link" href="#5"><img class="article__icon" src="images/icons/facebook.svg" alt="Facebook"></a></div><a class="button button--size-s article__button" href="blog-inner-page.html">Read more</a>
                            </div>
                        </div>
                    </article>
                    <article class="article article--indent"><img class="article__img" src="images/article/article-img.png" srcset="images/article/article-img@2x.png 2x" alt="Article">
                        <div class="article__description">
                            <div class="article__header">
                                <h2 class="subtitle article__title">Dublin’s iphone apps Online Demo</h2>
                                <div class="text text--size-xs article__information"><time class="article__date" datetime="2011-05-29">29 / may / 2011</time>
                                    <p class="article__author">written by: Anonimas</p>
                                </div>
                            </div>
                            <div class="article__body">
                                <p class="text text--color article__text">Lorem ipsum dolor sit amet, consectetuadipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliua. Ut enim ad minim veniam, quis nostud exercitation ullamco laboris nisi ut aluip ex ea commodo consequat. Duis aute irure dolor in</p>
                            </div>
                            <div class="article__footer">
                                <div class="article__social"><a class="article__link" href="#5"><img class="article__icon" src="images/icons/twitter.svg" alt="Twitter"></a><a class="article__link" href="#5"><img class="article__icon" src="images/icons/facebook.svg" alt="Facebook"></a></div><a class="button button--size-s article__button" href="blog-inner-page.html">Read more</a>
                            </div>
                        </div>
                    </article>
                    <div class="pagination articles__pagination">
                        <div class="pagination-item pagination-item--size"><span class="pagination-item__number">&laquo; First</span></div>
                        <div class="pagination-item"><span class="pagination-item__number">&laquo;</span></div>
                        <div class="pagination-item"><span class="pagination-item__number">1</span></div>
                        <div class="pagination-item"><span class="pagination-item__number">2</span></div>
                        <div class="pagination-item pagination-item--active"><span class="pagination-item__number">3</span></div>
                        <div class="pagination-item"><span class="pagination-item__number">4</span></div>
                        <div class="pagination-item"><span class="pagination-item__number">5</span></div>
                        <div class="pagination-item"><span class="pagination-item__number">&raquo;</span></div>
                        <div class="pagination-item pagination-item--size"><span class="pagination-item__number">Last &raquo;</span></div>
                    </div>
                </div>
                <div class="sidebar">
                    <div class="sidebar__item">
                        <h3 class="subtitle sidebar__title">Slidebar</h3>
                        <ul class="list sidebar__list-link">
                            <li class="sidebar__item-link"><a class="text text--color sidebar__link" href="#5">Lorem ipsum dolor</a></li>
                            <li class="sidebar__item-link"><a class="text text--color sidebar__link" href="#5">Consectetuadipisicing</a></li>
                            <li class="sidebar__item-link"><a class="text text--color sidebar__link" href="#5">Eiusmod</a></li>
                            <li class="sidebar__item-link"><a class="text text--color sidebar__link" href="#5">Tempor incididunt</a></li>
                            <li class="sidebar__item-link"><a class="text text--color sidebar__link" href="#5">Labore et dolore</a></li>
                            <li class="sidebar__item-link"><a class="text text--color sidebar__link" href="#5">Magna aliua</a></li>
                            <li class="sidebar__item-link"><a class="text text--color sidebar__link" href="#5">Ut enim ad minim</a></li>
                            <li class="sidebar__item-link"><a class="text text--color sidebar__link" href="#5">Nostud exercitation</a></li>
                            <li class="sidebar__item-link"><a class="text text--color sidebar__link" href="#5">Ullamco laboris</a></li>
                            <li class="sidebar__item-link"><a class="text text--color sidebar__link" href="#5">Commodo consequ</a></li>
                        </ul>
                    </div>
                    <div class="sidebar__item">
                        <h3 class="subtitle sidebar__title">Slidebar</h3>
                        <ul class="list sidebar__list-link">
                            <li class="sidebar__item-link"><a class="text text--color sidebar__link" href="#5">Lorem ipsum dolor</a></li>
                            <li class="sidebar__item-link"><a class="text text--color sidebar__link" href="#5">Consectetuadipisicing</a></li>
                            <li class="sidebar__item-link"><a class="text text--color sidebar__link" href="#5">Eiusmod</a></li>
                            <li class="sidebar__item-link"><a class="text text--color sidebar__link" href="#5">Tempor incididunt</a></li>
                            <li class="sidebar__item-link"><a class="text text--color sidebar__link" href="#5">Labore et dolore</a></li>
                            <li class="sidebar__item-link"><a class="text text--color sidebar__link" href="#5">Magna aliua</a></li>
                            <li class="sidebar__item-link"><a class="text text--color sidebar__link" href="#5">Ut enim ad minim</a></li>
                        </ul>
                    </div>
                    <div class="advertising">
                        <div class="advertising-item"><span class="text text--size-l text--color advertising-item__text">advertisement 193 x 110</span></div>
                        <div class="advertising-item"><span class="text text--size-l text--color advertising-item__text">advertisement 193 x 110</span></div>
                        <div class="advertising-item"><span class="text text--size-l text--color advertising-item__text">advertisement 193 x 110</span></div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer class="footer">
        <div class="content footer__content">
            <div class="footer__twitter">
                <div class="footer__img"><svg class="footer__twitter-icon">
                        <use xlink:href="images/svg-sprite/svg-sprite.svg#footer-icon"></use>
                    </svg></div>
                <div class="footer__text-content">
                    <p class="footer__text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text of the printing and typesetting industry.</p>
                    <p class="footer__signature">- versions of Lorem Ipsum.</p>
                </div>
            </div>
            <div class="footer-form">
                <div class="newsletter">
                    <p class="newsletter__title">Newsletter</p>
                    <p class="newsletter__text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's</p>
                    <form class="newsletter__form" method="get" action="#5"><input class="field-text newsletter__field-text" type="text" placeholder="enter your email address"><button class="form-button newsletter__button" type="submit">Subscribe</button></form>
                </div>
                <div class="contacts-form">
                    <p class="contacts-form__title">Contact form</p>
                    <form class="contacts-form__form" method="get" action="#5">
                        <div class="contacts-form__group-field-text"><input class="field-text contacts-form__field-text" type="text"><input class="field-text contacts-form__field-text" type="text"><input class="field-text contacts-form__field-text" type="text"></div><textarea class="field-text field-text--multiline contacts-form__multiline-field"></textarea><button class="form-button form-button--contact contacts-form__button" type="submit">Submit</button>
                    </form>
                </div>
            </div>
            <div class="footer-social">
                <ul class="footer-social__list">
                    <li class="footer-social__item"><a class="footer-social__link" href="#5"><svg class="footer-social__img footer-social__img--twitter">
                                <use xlink:href="images/svg-sprite/svg-sprite.svg#twitter"></use>
                            </svg></a></li>
                    <li class="footer-social__item"><a class="footer-social__link" href="#5"><svg class="footer-social__img footer-social__img--facebook">
                                <use xlink:href="images/svg-sprite/svg-sprite.svg#facebook"></use>
                            </svg></a></li>
                    <li class="footer-social__item"><a class="footer-social__link" href="#5"><svg class="footer-social__img footer-social__img--linkedin">
                                <use xlink:href="images/svg-sprite/svg-sprite.svg#linkedin"></use>
                            </svg></a></li>
                </ul>
            </div>
            <div class="copyright">
                <p class="copyright__text">Design by cssauthor.com © 2012-2013 Valid HTML5 and CSS3.</p>
            </div>
        </div>
    </footer>
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css">
    <script src="scripts/common.js"></script>
</body>

</html>
