<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, width=device-width">
    <title>Dublin Apps</title>
    <link rel="stylesheet" href="stylesheets/common.css">
</head>

<body>
    <header class="header">
        <div class="content header__content">
            <div class="header__actions">
                <div class="logo"><svg class="icon-svg logo__img">
                        <use xlink:href="images/svg-sprite/svg-sprite.svg#logo"></use>
                    </svg><span class="logo__text-icon">i</span>
                    <div class="logo__text"><a class="logo__link" href="index.html"><span class="logo__text-title">Dublin Apps</span><span class="logo__text-subtitle">ipad applications</span></a></div>
                </div><button class="button-menu button-menu--open" type="button"><span class="button-menu__icon"></span></button>
            </div>
            <nav class="nav nav--closed">
                <ul class="list nav__list">
                    <li class="nav__item"><a class="nav__link nav__link--active" href="index.html">Home</a></li>
                    <li class="nav__item"><a class="nav__link" href="products.html">ipad apps</a></li>
                    <li class="nav__item"><a class="nav__link" href="blog.html">Demonstrations</a></li>
                    <li class="nav__item"><a class="nav__link" href="single-product.html">Leopards media</a></li>
                    <li class="nav__item"><a class="nav__link" href="contacts.html">Connect us</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <main class="main">
        <div class="slider">
            <div class="content slider-controls slider__content">
                <div class="slide">
                    <div class="slide__text-block">
                        <h1 class="slide__title">Dublin's</h1>
                        <p class="slide__subtitle">iPad <span class="slide__subtitle-apps">Apps</span></p>
                        <p class="slide__text">Free and paid apps for your iPad</p><a class="button button--size-l button--border slide__link" href="#5">Read more</a>
                    </div>
                    <div class="slide__image-block"><img class="slide__img" src="images/slider/slide-1.png" srcset="images/slider/slide-1@2x.png 2x" alt="ipad"></div>
                </div>
                <div class="slide">
                    <div class="slide__text-block">
                        <h1 class="slide__title">Dublin's</h1>
                        <p class="slide__subtitle">iPad <span class="slide__subtitle-apps">Apps</span></p>
                        <p class="slide__text">Free and paid apps for your iPad</p><a class="button button--size-l button--border slide__link" href="#5">Read more</a>
                    </div>
                    <div class="slide__image-block"><img class="slide__img" src="images/slider/slide-1.png" srcset="images/slider/slide-1@2x.png 2x" alt="ipad"></div>
                </div>
                <div class="slide">
                    <div class="slide__text-block">
                        <h1 class="slide__title">Dublin's</h1>
                        <p class="slide__subtitle">iPad <span class="slide__subtitle-apps">Apps</span></p>
                        <p class="slide__text">Free and paid apps for your iPad</p><a class="button button--size-l button--border slide__link" href="#5">Read more</a>
                    </div>
                    <div class="slide__image-block"><img class="slide__img" src="images/slider/slide-1.png" srcset="images/slider/slide-1@2x.png 2x" alt="ipad"></div>
                </div>
            </div>
        </div>
        <div class="opportunities">
            <div class="content opportunities__content">
                <div class="opportunities__list">
                    <div class="opportunity opportunity--book-reader">
                        <p class="opportunity__title">E Book Reader pro</p>
                    </div>
                    <div class="opportunity opportunity--image-viewer">
                        <p class="opportunity__title">Image viewer pro</p>
                    </div>
                    <div class="opportunity opportunity--media">
                        <p class="opportunity__title">Media mannager</p>
                    </div>
                    <div class="opportunity opportunity--entertainment">
                        <p class="opportunity__title">Leo Entertainment</p>
                    </div>
                </div>
            </div>
        </div>
        <section class="services">
            <div class="content services__content">
                <h2 class="visually-hidden">Services</h2>
                <div class="services__list">
                    <div class="service">
                        <div class="service__header">
                            <div class="service__img"><svg class="service__icon">
                                    <use xlink:href="images/svg-sprite/svg-sprite.svg#discover"></use>
                                </svg></div>
                            <div class="service__description">
                                <p class="subtitle subtitle--size-m service__title">Discover Apps</p>
                                <p class="text service__text">Lorem Ipsum is simply dummy</p>
                            </div>
                        </div>
                        <div class="service__body">
                            <p class="text text--size-m text--color service__information">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever sinc</p>
                        </div>
                    </div>
                    <div class="service">
                        <div class="service__header">
                            <div class="service__img"><svg class="service__icon">
                                    <use xlink:href="images/svg-sprite/svg-sprite.svg#browse"></use>
                                </svg></div>
                            <div class="service__description">
                                <p class="subtitle subtitle--size-m service__title">Browse Apps</p>
                                <p class="text service__text">Lorem Ipsum is simply dummy</p>
                            </div>
                        </div>
                        <div class="service__body">
                            <p class="text text--size-m text--color service__information">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever sinc</p>
                        </div>
                    </div>
                    <div class="service">
                        <div class="service__header">
                            <div class="service__img"><svg class="service__icon">
                                    <use xlink:href="images/svg-sprite/svg-sprite.svg#develop"></use>
                                </svg></div>
                            <div class="service__description">
                                <p class="subtitle subtitle--size-m service__title">Development</p>
                                <p class="text service__text">Lorem Ipsum is simply dummy</p>
                            </div>
                        </div>
                        <div class="service__body">
                            <p class="text text--size-m text--color service__information">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever sinc</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="news">
            <h3 class="visually-hidden">News</h3>
            <div class="content news__content">
                <div class="new">
                    <p class="new__text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                    <p class="new__text">Lorem<span class="new__text-features"> Ipsum has been the industry's</span><span class="new__text"> standard dummy text</span></p>
                </div>
                <div class="new">
                    <p class="new__text">Lorem Ipsum is simply dummy text.</p>
                    <p class="new__text">Lorem<span class="new__text-features"> Ipsum has been the industry's</span><span class="new__text"> standard dummy text</span></p>
                </div>
                <div class="new">
                    <p class="new__text">Lorem Ipsum is simply dummy text of the printing and typesetting.</p>
                    <p class="new__text">Lorem<span class="new__text-features"> Ipsum has been the industry's</span><span class="new__text"> standard dummy text</span></p>
                </div><a class="news__slide-control news__slide-control--prev"></a><a class="news__slide-control news__slide-control--next"></a>
            </div>
        </section>
        <div class="passages">
            <div class="content passages__content">
                <div class="passages__block-text">
                    <h2 class="subtitle passages__title">There are many variations of passages</h2>
                    <p class="text passages__text">Lorem Ipsum is simply dummy</p>
                </div>
                <div class="passages__variation-block">
                    <div class="passages__image-block"><img class="passages__img" src="images/i-pad/passages-ipad.png" srcset="images/i-pad/passages-ipad@2x.png 2x" alt="ipad"></div>
                    <div class="passages__variation">
                        <div class="passages-list">
                            <div class="passages-item"><span class="text text--color text--height-size-m passages-item__description">Lorem Ipsum is simply dummy text of the printing and typesetting </span></div>
                            <div class="passages-item"><span class="text text--color text--height-size-m passages-item__description">Industry. Lorem Ipsum has been the industry's standard </span></div>
                            <div class="passages-item"><span class="text text--color text--height-size-m passages-item__description">Dummy text ever since the 1500s, when an unknown printer </span></div>
                            <div class="passages-item"><span class="text text--color text--height-size-m passages-item__description">Took a galley of type and scrambled it to make a type specimen book. </span></div>
                            <div class="passages-item"><span class="text text--color text--height-size-m passages-item__description">It has survived not only five centuries, but also the </span></div>
                        </div>
                        <div class="passages__action"><a class="button button--size-m passages__button" href="">Read more</a><button class="button button--size-m passages__button" type="button">Download </button></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="information">
            <div class="content information__content">
                <div class="information-item">
                    <div class="information-item__title"><button class="information-item__button"></button><span class="information-item__text">Lorem Ipsum is simply dummy text of the printing and typesetting Industry. Lorem Ipsum has been the industry's standard</span></div>
                    <div class="information-item__content">
                        <p class="text text--color text--height-size-l information-item__description">Lorem Ipsum is simply dummy text of the printing and typesetting Industry. Lorem Ipsum has been the industry's standard</p>
                    </div>
                </div>
                <div class="information-item">
                    <div class="information-item__title"><button class="information-item__button"></button><span class="information-item__text">Dummy text ever since the 1500s, when an unknown printer Took a galley of type and scrambled it to make a type specimen book.</span></div>
                    <div class="information-item__content">
                        <p class="text text--color text--height-size-l information-item__description">Dummy text ever since the 1500s, when an unknown printer Took a galley of type and scrambled it to make a type specimen book.</p>
                    </div>
                </div>
                <div class="information-item">
                    <div class="information-item__title"><button class="information-item__button"></button><span class="information-item__text">It has survived not only five centuries, but also the</span></div>
                    <div class="information-item__content">
                        <p class="text text--color text--height-size-l information-item__description">It has survived not only five centuries, but also the</p>
                    </div>
                </div>
                <div class="information-item">
                    <div class="information-item__title"><button class="information-item__button"></button><span class="information-item__text">Lorem Ipsum is simply dummy text of the printing and typesetting Industry. Lorem Ipsum has been the industry's standard</span></div>
                    <div class="information-item__content">
                        <p class="text text--color text--height-size-l information-item__description">Lorem Ipsum is simply dummy text of the printing and typesetting Industry. Lorem Ipsum has been the industry's standard</p>
                    </div>
                </div>
                <div class="information-item">
                    <div class="information-item__title"><button class="information-item__button"></button><span class="information-item__text">Dummy text ever since the 1500s, when an unknown printer Took a galley of type and scrambled it to make a type specimen book.</span></div>
                    <div class="information-item__content">
                        <p class="text text--color text--height-size-l information-item__description">Dummy text ever since the 1500s, when an unknown printer Took a galley of type and scrambled it to make a type specimen book.</p>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer class="footer">
        <div class="content footer__content">
            <div class="footer__twitter">
                <div class="footer__img"><svg class="footer__twitter-icon">
                        <use xlink:href="images/svg-sprite/svg-sprite.svg#footer-icon"></use>
                    </svg></div>
                <div class="footer__text-content">
                    <p class="footer__text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text of the printing and typesetting industry.</p>
                    <p class="footer__signature">- versions of Lorem Ipsum.</p>
                </div>
            </div>
            <div class="footer-form">
                <div class="newsletter">
                    <p class="newsletter__title">Newsletter</p>
                    <p class="newsletter__text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's</p>
                    <form class="newsletter__form" method="get" action="#5"><input class="field-text newsletter__field-text" type="text" placeholder="enter your email address"><button class="form-button newsletter__button" type="submit">Subscribe</button></form>
                </div>
                <div class="contacts-form">
                    <p class="contacts-form__title">Contact form</p>
                    <form class="contacts-form__form" method="get" action="#5">
                        <div class="contacts-form__group-field-text"><input class="field-text contacts-form__field-text" type="text"><input class="field-text contacts-form__field-text" type="text"><input class="field-text contacts-form__field-text" type="text"></div><textarea class="field-text field-text--multiline contacts-form__multiline-field"></textarea><button class="form-button form-button--contact contacts-form__button" type="submit">Submit</button>
                    </form>
                </div>
            </div>
            <div class="footer-social">
                <ul class="footer-social__list">
                    <li class="footer-social__item"><a class="footer-social__link" href="#5"><svg class="footer-social__img footer-social__img--twitter">
                                <use xlink:href="images/svg-sprite/svg-sprite.svg#twitter"></use>
                            </svg></a></li>
                    <li class="footer-social__item"><a class="footer-social__link" href="#5"><svg class="footer-social__img footer-social__img--facebook">
                                <use xlink:href="images/svg-sprite/svg-sprite.svg#facebook"></use>
                            </svg></a></li>
                    <li class="footer-social__item"><a class="footer-social__link" href="#5"><svg class="footer-social__img footer-social__img--linkedin">
                                <use xlink:href="images/svg-sprite/svg-sprite.svg#linkedin"></use>
                            </svg></a></li>
                </ul>
            </div>
            <div class="copyright">
                <p class="copyright__text">Design by cssauthor.com © 2012-2013 Valid HTML5 and CSS3.</p>
            </div>
        </div>
    </footer>
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css">
    <script src="scripts/common.js"></script>
</body>

</html>
