<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, width=device-width">
    <title>Dublin Apps</title>
    <link rel="stylesheet" href="stylesheets/common.css">
</head>

<body>
    <header class="header">
        <div class="content header__content">
            <div class="header__actions">
                <div class="logo"><svg class="icon-svg logo__img">
                        <use xlink:href="images/svg-sprite/svg-sprite.svg#logo"></use>
                    </svg><span class="logo__text-icon">i</span>
                    <div class="logo__text"><a class="logo__link" href="index.html"><span class="logo__text-title">Dublin Apps</span><span class="logo__text-subtitle">ipad applications</span></a></div>
                </div><button class="button-menu button-menu--open" type="button"><span class="button-menu__icon"></span></button>
            </div>
            <nav class="nav nav--closed">
                <ul class="list nav__list">
                    <li class="nav__item"><a class="nav__link" href="index.html">Home</a></li>
                    <li class="nav__item"><a class="nav__link nav__link--active" href="products.html">ipad apps</a></li>
                    <li class="nav__item"><a class="nav__link" href="blog.html">Demonstrations</a></li>
                    <li class="nav__item"><a class="nav__link" href="single-product.html">Leopards media</a></li>
                    <li class="nav__item"><a class="nav__link" href="contacts.html">Connect us</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <main class="main">
        <div class="box">
            <div class="search">
                <div class="search__content">
                    <div class="search__text-block">
                        <h1 class="subtitle search__title">Dublin’s iphone applications</h1>
                        <p class="text search__text">Lorem Ipsum is simply dummy</p>
                    </div>
                    <div class="search__block-field"><img class="search__icon" src="images/icons/search.svg" alt="Search"><input class="search__field" placeholder="Search..."></div>
                </div>
            </div>
            <div class="product-sale">
                <h2 class="subtitle subtitle--size-l product-sale__title">Dublin’s iphone applications</h2>
                <p class="text product-sale__text">Lorem Ipsum is simply dummy</p>
                <div class="product-sale__image-block"><img class="product-sale__img" src="images/i-pad/sale-ipad.png" srcset="images/i-pad/sale-ipad@2x.png 2x" alt="i-pad">
                    <div class="product-sale__price-block">
                        <div class="product-sale__text-block">
                            <p class="product-sale__price">250$</p>
                            <p class="product-sale__offer">Special Season Offer</p>
                        </div>
                    </div>
                </div><a class="button button--size-m product-sale__link-buy" href="#5">Buy now</a>
                <div class="product-sale__description">
                    <h3 class="subtitle subtitle--size-l product-sale__description-title">Dublin’s iphone applications</h3>
                    <p class="text text--color product-sale__description-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                    <div class="passages passages--product">
                        <h3 class="subtitle subtitle--size-l passages__title">Dublin’s iphone applications</h3>
                        <div class="passages-list">
                            <div class="passages-item"><span class="text text--color text--height-size-m passages-item__description">Lorem Ipsum is simply dummy text of the printing and typesetting </span></div>
                            <div class="passages-item"><span class="text text--color text--height-size-m passages-item__description">Industry. Lorem Ipsum has been the industry's standard </span></div>
                            <div class="passages-item"><span class="text text--color text--height-size-m passages-item__description">Dummy text ever since the 1500s, when an unknown printer </span></div>
                            <div class="passages-item"><span class="text text--color text--height-size-m passages-item__description">Took a galley of type and scrambled it to make a type specimen book. </span></div>
                            <div class="passages-item"><span class="text text--color text--height-size-m passages-item__description">It has survived not only five centuries, but also the </span></div>
                            <div class="passages-item"><span class="text text--color text--height-size-m passages-item__description">Dummy text ever since the 1500s, when an unknown printer </span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer class="footer">
        <div class="content footer__content">
            <div class="footer__twitter">
                <div class="footer__img"><svg class="footer__twitter-icon">
                        <use xlink:href="images/svg-sprite/svg-sprite.svg#footer-icon"></use>
                    </svg></div>
                <div class="footer__text-content">
                    <p class="footer__text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text of the printing and typesetting industry.</p>
                    <p class="footer__signature">- versions of Lorem Ipsum.</p>
                </div>
            </div>
            <div class="footer-form">
                <div class="newsletter">
                    <p class="newsletter__title">Newsletter</p>
                    <p class="newsletter__text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's</p>
                    <form class="newsletter__form" method="get" action="#5"><input class="field-text newsletter__field-text" type="text" placeholder="enter your email address"><button class="form-button newsletter__button" type="submit">Subscribe</button></form>
                </div>
                <div class="contacts-form">
                    <p class="contacts-form__title">Contact form</p>
                    <form class="contacts-form__form" method="get" action="#5">
                        <div class="contacts-form__group-field-text"><input class="field-text contacts-form__field-text" type="text"><input class="field-text contacts-form__field-text" type="text"><input class="field-text contacts-form__field-text" type="text"></div><textarea class="field-text field-text--multiline contacts-form__multiline-field"></textarea><button class="form-button form-button--contact contacts-form__button" type="submit">Submit</button>
                    </form>
                </div>
            </div>
            <div class="footer-social">
                <ul class="footer-social__list">
                    <li class="footer-social__item"><a class="footer-social__link" href="#5"><svg class="footer-social__img footer-social__img--twitter">
                                <use xlink:href="images/svg-sprite/svg-sprite.svg#twitter"></use>
                            </svg></a></li>
                    <li class="footer-social__item"><a class="footer-social__link" href="#5"><svg class="footer-social__img footer-social__img--facebook">
                                <use xlink:href="images/svg-sprite/svg-sprite.svg#facebook"></use>
                            </svg></a></li>
                    <li class="footer-social__item"><a class="footer-social__link" href="#5"><svg class="footer-social__img footer-social__img--linkedin">
                                <use xlink:href="images/svg-sprite/svg-sprite.svg#linkedin"></use>
                            </svg></a></li>
                </ul>
            </div>
            <div class="copyright">
                <p class="copyright__text">Design by cssauthor.com © 2012-2013 Valid HTML5 and CSS3.</p>
            </div>
        </div>
    </footer>
    <article class="modal-payment">
        <div class="modal-payment__box"><button class="modal-close" type="button">Close of modal</button>
            <div class="modal-payment__card">
                <h3 class="subtitle modal-payment__title">Dublin’s iphone applications</h3>
                <p class="text modal-payment__text">Lorem Ipsum is simply dummy</p>
                <div class="modal-payment__product-price"><img class="modal-payment__img" src="images/icons/i-pad.svg" alt="i-pad"><select class="modal-payment__count">
                        <option>01</option>
                        <option>02</option>
                        <option>03</option>
                        <option>04</option>
                        <option>05</option>
                    </select>
                    <p class="subtitle modal-payment__product-description">i pad application</p>
                </div>
                <p class="subtitle subtitle--size-s modal-payment__total-amount">Total: 155 $</p>
                <div class="modal-payment__field-number"><input class="modal-payment__field" type="text" placeholder="Credit card  number"><button class="button button--size-m button--color modal-payment__button">Pay now</button></div>
                <div class="modal-payment__note"><img class="modal-payment__icon-note" src="images/modal-window/note.png" alt="Note">
                    <p class="text text--color modal-payment__note-text">printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text </p>
                </div>
            </div>
            <div class="modal-payment__paypal"><a class="modal-payment__paypal-link" href="#5"><img class="modal-payment__icon-paypal" src="images/icons/paypal.svg" alt="Paypal"></a>
                <div class="modal-payment__text-block">
                    <p class="subtitle modal-payment__paypal-title">Paypal</p>
                    <p class="text modal-payment__paypal-text">Lorem Ipsum is</p>
                </div>
            </div>
        </div>
    </article>
    <article class="modal-operation"><button class="modal-close modal-close--operation" type="button">Close of modal</button>
        <h3 class="subtitle subtitle--size-xs modal-operation__title">You want do Continue with the operation</h3>
        <p class="text modal-operation__text">Lorem Ipsum is simply dummy</p>
        <div class="modal-operation__actions"><button class="button button--color modal-operation__button" type="submit"><img class="modal-operation__icon" src="images/icons/yes.svg" alt="Yes"><span class="modal-operation__button-text">Yes</span></button><button class="button button--color modal-operation__button" type="submit"><img class="modal-operation__icon" src="images/icons/no.svg" alt="No"><span class="modal-operation__button-text">No</span></button></div>
    </article>
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css">
    <script src="scripts/common.js"></script>
</body>

</html>
