.product {
    width: 238px;
    display: flex;
    align-items: center;
    margin: 24px;
    margin-bottom: 38px;

    &__img {
        margin-right: 12px;
    }

    &__text {
        margin-bottom: 14px;
    }
}

@media (max-width: 768px) {
    .product {
        margin: 10px;
    }
}

@media (max-width: 576px) {
    .product {
        width: 100%;
        margin: 0;
        margin-bottom: 20px;
    }
}
