article(class="modal-payment")
    div(class="modal-payment__box")
        button(type="button" class="modal-close") Close of modal
        div(class="modal-payment__card")
            h3(class="subtitle modal-payment__title") Dublin’s iphone applications
            p(class="text modal-payment__text") Lorem Ipsum is simply dummy
            div(class="modal-payment__product-price")
                img(class="modal-payment__img" src="images/icons/i-pad.svg" alt="i-pad")
                select(class="modal-payment__count")
                    option 01
                    option 02
                    option 03
                    option 04
                    option 05
                p(class="subtitle modal-payment__product-description") i pad application

            p(class="subtitle subtitle--size-s modal-payment__total-amount") Total: 155 $

            div(class="modal-payment__field-number")
                input(type="text" class="modal-payment__field" placeholder="Credit card  number")
                button(class="button button--size-m button--color modal-payment__button") Pay now

            div(class="modal-payment__note")
                img(class="modal-payment__icon-note" src="images/modal-window/note.png" alt="Note")
                p(class="text text--color modal-payment__note-text") printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text 

        div(class="modal-payment__paypal")
            a(href="#5" class="modal-payment__paypal-link")
                img(class="modal-payment__icon-paypal" src="images/icons/paypal.svg" alt="Paypal")

            div(class="modal-payment__text-block")
                p(class="subtitle modal-payment__paypal-title") Paypal
                p(class="text modal-payment__paypal-text") Lorem Ipsum is
