article(class="modal-operation")
    button(type="button" class="modal-close modal-close--operation") Close of modal
    h3(class="subtitle subtitle--size-xs modal-operation__title") You want do Continue with the operation
    p(class="text modal-operation__text") Lorem Ipsum is simply dummy
    div(class="modal-operation__actions")
        button(class="button button--color modal-operation__button" type="submit")
            img(class="modal-operation__icon" src="images/icons/yes.svg" alt="Yes")
            span(class="modal-operation__button-text") Yes
        button(class="button button--color modal-operation__button" type="submit")
            img(class="modal-operation__icon" src="images/icons/no.svg" alt="No")
            span(class="modal-operation__button-text") No
