.form-button {
    font-size: 14px;
    font-weight: 300;
    line-height: calc(20/14);
    color: #363648;
    border: none;
    outline: none;
    border-radius: 5px;
    background: #e7e8ea;
    cursor: pointer;
    padding: 3px 15px;
    transition-property: color, background;
    transition-duration: 0.25s;
    transition-timing-function: ease;

    &:hover {
        color: #ffffff;
        background: #242439; 
    }

    &--contact {
        padding: 3px 24px;
    }
}
