.catalog-header {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.08) 0%, rgba(255, 255, 255, 0.08) 100%);
    border-radius: 4px;

    &__content {
        padding: 19px 43px 26px 34px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__search {
        width: 250px;
        height: 30px;
        box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.15);
        border: 1px solid #d5d4d4;
        background-color: #fcfcfc;
        outline: none;
        border-radius: 50px;
        padding: 10px 32px;
        box-sizing: border-box;
    }
}

@media (max-width: 576px) {
    .catalog-header {
        &__content {
            padding: 20px;
            flex-direction: column;
        }

        &__text-block {
            margin-bottom: 10px;
            text-align: center;
        }
    }
}
