mixin new(item)
    div(class="new")
        p(class="new__text") !{item.text}
        p(class="new__text") !{item.textSecond}
            span(class="new__text-features") !{item.features}
            span(class="new__text") !{item.textThird}
