div(class="logo")
    svg(class="icon-svg logo__img")
        use(xlink:href="images/svg-sprite/svg-sprite.svg#logo")
    span(class="logo__text-icon") i
    div(class="logo__text")
        a(href="index.html" class="logo__link")
            span(class="logo__text-title") Dublin Apps
            span(class="logo__text-subtitle") ipad applications
